<form id="favorite-form" method="post">
   
    <ul id="favorite-wrapper">
        <h3> Save to Watch </h3>
        <li class="heart">
            <label for="favorite"><i class="fa fa-heart" aria-hidden="true"></i></label>
            <input type="radio" name="favorite" id="favorite" value="true"/>
            <input type="hidden" id="fav-locationId" name="locationId" value=<%= data[0].camis %>  />
            <input type="hidden" id="fav-dba" name="dba" value=<%= data[0].dba %>  />
            <input type="hidden" id="fav-building" name="building" value=<%= data[0].building %>  />
            <input type="hidden" id="fav-street" name="street" value=<%= data[0].street %>  />
            <input type="hidden" id="fav-boro" name="boro" value=<%= data[0].boro %>  />
            <input type="hidden" id="fav-zipcode" name="zipcode" value=<%= data[0].zipcode %>  />
            <input type="hidden" id="userId" name="userId" value=1  />
        </li>
        </form>

        